{% extends "layout.html" %}
{% block content %}
<div class="top-hours">
	<h3>Your most productive hours</h3>
	<ol id="hourlist">
	</ol>
	<ol id="timelist">
	</ol>

</div>

<div class="calendar">
	<h3>Productivity Calendar</h3>	
	<div class="calendar-chart">
		<div id="cal-heatmap"></div>
	</div>
</div>
<script>

function calendarhHeatmap() {

	const cal = new CalHeatmap();
	fetch('http://localhost:9000/api/activities/interval/all?interval=day-year')
	.then(res => res.json())
	.then(res => {
		const data = []
		const year = (new Date()).getFullYear()
		const leap = ((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0)
		const days = leap ? 366 : 365

		for (let k=0; k < res.result.interval.length; k++) {
			const interval = res.result.interval[k]
			const d = {
				'date': (new Date((new Date(year, 0)).setDate(Number(interval)))).toJSON().substring(0,10),
				'value': Number(res.result.lengthMinutes[k]) - Number(res.result.idleMinutes[k])
			}
			data.push(d)
		}
		const a = Math.max.apply(null, res.result.lengthMinutes)
		console.log([a/6/2, a/6, a/6*2, a/6*3, a/6*4, a/6*5, a])
	
		cal.paint({
		    date: {
			start: new Date(year, 1)
		    },
		    domain: {
			type: 'month',
			label: {
			    text: 'MMM',
			    textAlign: 'start',
			    position: 'top'
			},
			gutter: 3
		    },
		    subDomain: {
			type: 'ghDay',
			height: 17,
			width: 17,
			radius: 3,
			gutter: 1,
		    },
		    scale: {
		      color: {
			type: 'threshold',
			range: ['#202022', '#1C3738', '#14432a', '#166b34', '#37a446', '#4dd05a', '#79d11d'],
			domain: [.001, a/6/2, a/6, a/6*2, a/6*3, a/6*4, a/6*5, a],
		      },
		    },
		    range: 12,
		    data: {
			source: data,
			x: 'date',
			y: 'value',
			defaultValue: 0
		    },
		    theme: 'light',
		},
		  [
		    [
		      Tooltip,
		      {
			text: function (date, value, dayjsDate) {
			  return (
			    (value ? Math.floor(value) : '0') +
			    ' Minutes on ' +
			    dayjsDate.format('dddd, MMMM D, YYYY')
			  );
			},
		      },
		    ],
		    [
		      CalendarLabel,
		      {
			width: 30,
			textAlign: 'start',
			text: () => dayjs.weekdaysShort().map((d, i) => d),
			padding: [25, 0, 0, 0],
		      },
		    ],
		  ]
		);
	})
}

function mostProductiveHours() {
	fetch('http://localhost:9000/api/activities/interval/all?interval=hour&order-by=lengthMinutes&order=descending')
	.then(res => res.json())
	.then(res => {
		let hours = document.getElementById('hourlist')
		let times = document.getElementById('timelist')
		for (let i = 0; i < 5; i++) {
			let entry = document.createElement('li')
			const a = Number(res.result.interval[i])
			let hour = a > 11 ? `${`${a == 12 ? 12 : a-12}`}pm` : `${`${a == 0 ? 12 : a}`}am`

			entry.appendChild(document.createTextNode(hour))
			hours.appendChild(entry)                              	

			let time = Number(res.result.lengthMinutes[i]) - Number(res.result.idleMinutes[i])
			hour = Math.floor(time / 60)
			let minute = Math.floor(time % 60);  
			let second = Math.floor((time%60) % 1 * 60)
			hour = hour > 0 ? `${hour}h ` : ''
			minute = minute > 0 ? `${minute}m ` : ''
			second = second > 0 ? `${second}s ` : ''
			time = `${hour}${minute}${second}`

			entry = document.createElement('li')
			entry.appendChild(document.createTextNode(time))
			times.appendChild(entry)                              	
		}
	})
}

mostProductiveHours()
calendarhHeatmap()
</script>

{% endblock content %}
