<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    {% if title %}
        <title>Activity tracker - {{ title }}</title>
    {% else %}
        <title>Activity tracker</title>
		{% endif %}

	</head>
	<body>
		<div class="header">
			<h1>Activity Tracker</h1>
			<p>Your activity report</p>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
