# These are the required keys and credentials from google
# How to get it: https://github.com/asweigart/ezsheets#quickstart-guide
token-sheets.pickle
token-drive.pickle
credentials-sheets.json

# List of words that will trigger the program to censor the window name
keywordList.txt