// 

@use "sass:color";

$font-stack: Barlow;
$primary-color: Green;
$heatmap-primary-color: hsla(95, 100%, 54%, 1);
$heatmap-6: color.adjust($heatmap-primary-color, $alpha: -.15) ;
$heatmap-5: color.adjust($heatmap-6, $alpha: -.15) ;
$heatmap-4: color.adjust($heatmap-5, $alpha: -.15) ;
$heatmap-3: color.adjust($heatmap-4, $alpha: -.15) ;
$heatmap-2: color.adjust($heatmap-3, $alpha: -.15) ;
$heatmap-1: color.adjust($heatmap-2, $alpha: -.15) ;

.heatmap {
    .heatmap_square {
    height: .5em;
    width: .5em;
    background-color: $heatmap-primary-color;
    border-radius: 8%;
    display: inline-block;
    margin: .1em;
    }

    .heatmap_square:hover {
    background-color: white;
    }

    background-color: black;
    max-width: 25em;
}

.dashboard {
    max-width: 50em;
}

body {
    margin: 0px;
    padding: 0px;
}

