@use "sass:color";

$bg_main: #151515;
$bg_secondary:#202022;
$fg_main: #ffffff;
$fg_secondary: #949495;
$color1: #b7e1cd;
$color2: #f4c7c3;
$color3: #949495;

$sqDeadColor: $color3;
$sqMainColor: green;

@font-face {
    font-family: "Barlow";
    src: url("/Barlow-Regular.ttf");
}



.calendarView {
    height: 8.4em;
    width: 62.4em;
    background-color: $bg_secondary;



    svg {
        height: 100%;
        width: 100%;

        $rWdith: .9em;
        $rHeight: .9em;
        $rMargin: .3em;

        rect {
            width: $rWdith;
            height: $rHeight;


            $x: 0; $y: 0; 
            @for $i from 0 through 363 { 

                $y: $i%7 * ($rHeight + $rMargin);
                @if $i%7 == 0 {
                    $y: 0;
                    @if $i > 6 {
                        $x: $x + $rWdith + $rMargin;
                    }
                }
                &.num-#{$i} {
                    y: $y;
                    x: $x;
                }
            }

            $squareColor: green;
            @for $i from 0 through 5 {
                @if $i == 0 {
                    $squareColor: $sqDeadColor;
                } @else {
                    @if $i == 1 { $squareColor: $sqMainColor;  }
                    $squareColor: 
                        color.adjust($squareColor, $lightness: 10% * $i);
                }
                &.color-#{$i} {
                    fill: $squareColor;
                }
            }
            
        }  
    }
}




body {
    margin: 0px;
    padding: 0px;
    background-color: $bg_main;
    color: $fg_main;
    font-family: "Barlow";
}

.header {
    padding: 0 2em 0 2em;


    p {
        color: $fg_secondary;
        text-align: left;


    }
    .title{
        color: $fg_main;
        font-size: 40px;
    }
}

.card {
    padding: 1.6em;
    background-color: $bg_secondary;
    margin: 1.6em;
    text-align: center;
    border-radius: 3px;
}
