$bg_main: #151515;
$bg_secondary:#202022;
$fg_main: #ffffff;
$fg_secondary: #949495;
$color1: #b7e1cd;
$color2: #f4c7c3;
$color3: #949495;

@font-face {
    font-family: "Barlow";
    src: url("/Barlow-Regular.ttf");
}

.calendarView {
    height: 8.4em;
    width: 62.4em;
    background-color: $bg_secondary;

    .square {
        height: 1.2em;
        width: 1.2em;
        border-radius: 13%;
        background-color: $fg_main;
        margin: .1em;
        display: inline-block
    }
    .square.a {
        background-color: green;
    } 
    .square.b {
        background-color: blue;
    } 
    .square.c {
        background-color: orange;
    }
    .square.d {
        background-color: red;
    }
    .square.e {
        background-color:yellowgreen;
    }
    .square.f {
        background-color:violet;
    }
}


// .dashboard {
    // max-width: 20em;
// }

body {
    margin: 0px;
    padding: 0px;
    background-color: $bg_main;
    color: $fg_main;
    font-family: "Barlow";
}

.header {
    padding: 0 2em 0 2em;


    p {
        color: $fg_secondary;
        text-align: left;


    }
    .title{
        color: $fg_main;
        font-size: 40px;
    }
}

.card {
    padding: 1.6em;
    background-color: $bg_secondary;
    margin: 1.6em;
    text-align: center;
    border-radius: 3px;
}
