@font-face {
  font-family: "Barlow";
  src: url("/Barlow-Regular.ttf");
}
.calendarView {
  height: 8.4em;
  width: 62.4em;
  background-color: #202022;
}
.calendarView .square {
  height: 1.2em;
  width: 1.2em;
  border-radius: 13%;
  background-color: #ffffff;
  margin: 0.1em;
  display: inline-block;
}
.calendarView .square.a {
  background-color: green;
}
.calendarView .square.b {
  background-color: blue;
}
.calendarView .square.c {
  background-color: orange;
}
.calendarView .square.d {
  background-color: red;
}
.calendarView .square.e {
  background-color: yellowgreen;
}
.calendarView .square.f {
  background-color: violet;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #151515;
  color: #ffffff;
  font-family: "Barlow";
}

.header {
  padding: 0 2em 0 2em;
}
.header p {
  color: #949495;
  text-align: left;
}
.header .title {
  color: #ffffff;
  font-size: 40px;
}

.card {
  padding: 1.6em;
  background-color: #202022;
  margin: 1.6em;
  text-align: center;
  border-radius: 3px;
}
