@font-face {
  font-family: "Barlow";
  src: url("/Barlow-Regular.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #151515;
  color: #ffffff;
  font-family: "Barlow";
}

.header {
  padding: 0 2em 0 2em;
  border-bottom: 1px solid #292929;
}
.header p {
  color: #949495;
  text-align: left;
}
.header .title {
  color: #ffffff;
  font-size: 40px;
}

.dashboard-container {
  margin-top: 20px;
  display: grid;
  row-gap: 3%;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: repeat(5, 200px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}
  
.card {
  overflow: clip;
  padding: 1.3rem;
  background-color: #202022;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #292929;
  display: flex;
  flex-direction: column;
}

.chart {
  height: 100%;
  width: 100%;
}

.card.chart-line {
  grid-column: span 2;
  grid-row: span 2;
}

.card > .title{
  font-size: 1.3rem;
}
